* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bg-custom {
    background-color: orange !important;
    &:hover{
        background-color: orange;
        box-shadow: 1px 1px 10px  rgba(0, 0, 0, 0.3);
    }
    &:active {
        background-color: orange !important;
        border-color:orange !important;
    }
}
.px-6 {
    padding-left: 5rem;
    padding-right: 5rem;
}
.mx-6 {
    margin-left: 5rem;
    margin-right: 5rem;
}
.fw-600 {
    font-weight: 600;
}
.bg-white:hover {
    box-shadow: 1px 1px 10px  rgba(0, 0, 0, 0.2);
}
body {
    overflow-x: hidden;
}
.pb-360 {
    padding-bottom: 430px;
}
.navbar {
    height: 80px !important;
    background-color: white !important;
    transition: padding-bottom 0.5s ease-in-out !important;
}
.navbar-nav {
    width: 42% !important;
}
.container-fluid,.navbar-brand {
    height: 80px;
}
.navbar-brand span {
    color: orange;
}
.nav-item {
    font-size: 1.1rem;
    font-weight: 630;
}
.cart-search :last-child {
    font-size: 1.2rem;
}
.login-signup .ls-btn {
    width: 7rem;
    height: 2.5rem;
    margin-left: 0.70rem;
    border: 2px solid orange;   

}
.login-signup .login {
    color: orange;
    font-weight: 600;
}
.login-signup .signup {
    color: white;
    font-weight: 600;
}
.bsb-hero-2 {
    position: relative;
    z-index: 2;
}
.bsb-hero-2 .container .text {
    margin-left: 5rem;
}
.bsb-hero-2 .img-container {
    height:400px;
    width: 60%;
    clip-path: polygon( 0 0, 100% 0,100% 100% , 30% 100%);
}
.bsb-hero-2 .img-container .img-fluid{
    height: 400px;
    background-image: url("Hero-section.jpg");
    background-size: cover;
    background-position: 25% 75%;
}


.menu-option {
    height: 70px;
}
hr {
    width: 3rem;
    background-color: orange;
    height: 3px;
}
.menu-option .btn-light:hover {
    border: transparent;
    color: orange;
    background-color: #f8f9fa;

}
.active-btn{
        background-color: orange !important;
        color: white !important;
        border: transparent;
        box-shadow: 1px 1px 10px  rgba(0, 0, 0, 0.3);

}
.option-list {
    background-color: antiquewhite;
}
.card {
    width: 220px;
    height: 20rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);

}
.card-img-top {
    height: 65%;
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-section .container {
        max-width: 760px;
    }
    .footer p {
        font-size: 0.65rem !important;
    }
}

@media (min-width: 1200px) {
    .menu-section .container {
        max-width: 1000px;
    }
    /* .carousel-img {
        width: ;
    } */

}

@media (max-width: 575px) {
    .menu-section .container {
        max-width: 280px !important;
    }

    .apps img {
        width: 80px !important;
        height: 30px !important;
    }
    .menu-option {
        padding-left: 100px !important;
        padding-right: 20px !important;
    }
    .inner-container h5 {
        font-size: 1rem !important;
    }
    .card {
        width: 270px;
        height: 23rem;
    }
    .contact-us .container {
        box-shadow: none !important;
        border-radius: 0 !important;
    }
    .footer {
        padding-top: 1rem !important;
    }
    .footer p {
        font-size: 0.6rem !important;
        
    }
}
@media (max-width : 500px) {
    .menu-option {
        padding-left: 200px !important;
    }
    .carousel-item .container .row {
        padding: 0 2rem;
    }
    .footer {
        padding: 2rem !important;
    }
    .footer p {
        font-size: 0.65rem !important;
    }
}
@media (max-width : 380px) {
    .menu-option {
        padding-left: 260px !important;
    }
    /* .carousel-item .container .row {
        padding: 0 1rem;
    } */
    .carousel-img {
        height: 350px !important;
    }
    .footer :nth-child(1) {
        width: 150px;
        
    }

    
}

.card-body .btn {
    background-color: orange;
    width: 2.5rem;
    height: 1.7rem;
    border-bottom-right-radius: 6px !important;
}

.card-body p {
    left: 0.5rem;
}

.hiring-section .img-container {
    background-color: antiquewhite;
    height:400px;
    width: 60%;
    clip-path: polygon( 0 0, 80% 0,100% 100% , 0% 100%);
}
.hiring-section .text {
    height: 400px;

}
.hiring-section .img-container .img-fluid {
    height: 400px;
    background-image: url("chef.jpg");
    background-size: cover;
    background-position: 25% 75%;

}
.hiring-section .text p {
    height: 100px;
}
@media (max-width: 992px) {
    .img-container {
        width: 100% !important;
        clip-path: polygon( 0 0, 100% 0,100% 100% , 0% 100%) !important;
        margin-bottom: 3rem;

    }
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 0 !important;
    }
    .text h4 {
        margin: 0 !important;
        padding: 0 !important;
    }
    .hiring-section .text p {
        width: 60%;
    }
    .wrap-992 {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 0.5rem;
    }
    .caption {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        align-items: center;
        margin-bottom: 4rem;
    }
    .caption p {
        text-align: center;
    }
    .footer .phone {
        width: 150px;
    }
    .w-20 {
        width: 160px !important;
    }
    .copyright p {
        font-size: 0.7rem !important;
    }
    footer {
        margin-top: -50px;
    }
}

.choice {
    width: 140px;
    height: 150px;
    padding: 0 !important;
}
.choice div {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

}
.services .img-container {
    background-color: antiquewhite;
    height: 400px;
}
.services .img-fluid {
    height: 400px;
    background-image: url("services.jpg");
    background-size: cover;
    background-position: center;
}
.inner-container {
    width:35%;
    height: auto;
    background-color: white;
    position: relative;
    z-index: 1;
}
.inner-container h5 {
    width: 80%;
}
.apps img {
    width: 170px;
    height: 50px;
    opacity: 1;
    border-radius: 7px;
    object-position: center;
}

.menu-option {
    white-space: nowrap;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}


/* Contact Us */
.z-index-3 {
    z-index: 3;
}

.hero {
    background-color: orange;
    color: white;
    height: 400px;
}
.hero h2 {
    font-weight: 600;
}
.hero p {
    width: 50%;
}
@media (max-width: 768px) {
    .hero p {
        width: 100%;
    }
    .footer .hidden {
        display: none;
    }    
}
.contact-us .container {
    background-color: white;
    position: relative;
    top: -100px;
    width: 1000px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.input-data ,.info {
    height: 450px;
}
.input-data {
    background-color:rgba(128, 128, 128, 0.1)  ;
}
.info h5 i {
    color: orange;
    margin-right: 1rem;
}
.input-data button {
    background-color: orange !important;
    height: 2.5rem;
    font-weight: 600;
    &:hover {
        box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.3);
    }
} 
.form-control {
    transition: box-shadow 0.3s ease-in-out !important;
    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.1rem orange;
    }
}


/* Menu Section  */
 
.carousel {
    background-color: rgba(128, 128, 128, 0.1);
    color: black;
}
.caption {
    width: 35%;

}
.caption h6 {
    color: orange;
}
.caption h5 {
    font-size: 3.5rem;
}
.carousel-img {
    width: 450px;
    height: 450px;
    filter: drop-shadow(1px 1px 10px gray);
    object-position: 40% 60%;
}
.carousel-control {
    width: 25px;
    margin: 0 1rem;
}
.carousel-control i {
    color: orange;
    &::before {
        
    }
}
.carousel-indicators button {
    background-color: orange !important;
}

footer {
    box-shadow: 0 -2px  20px rgba(0, 0, 0, 0.1);
}

footer .footer{

    height: 270px;
}
.footer h1 {
    width: 100px;
}
footer span ,footer i{
    color: orange;
}
.footer p {
    margin: 0;
    font-size: 0.85rem;
}
.footer .phone {
    background-color: orange;
    color: white;
    height: 33px;
    /* width: 200px; */
    align-content: center;
    text-align: center;
    border-radius: 16px;

}
.phone i {
    color: white;

}
.w-20 {
    width: 20%;
}
@media (max-width:1050px) {
    .footer p {
        font-size: 0.75rem;
    }
    .footer .hidden {
        margin-top: 1rem !important;
    }
    
}

  
  
  